/* Website fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Calistoga&display=swap');

/* BACKGROUND */
body{
    margin: 0;
    background-color: #14281D;
}

/* NAVIGATION HEADER */
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;  
    height: 7em;
    background-color: #F1F5F2;
}

nav{
    display: none;
}

.nav{
    font-family: 'Calistoga', cursive;
    font-size: 18px;
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.nav a{
    text-decoration: none;
    color: #121113;
}

.icons{
    display: flex;
}

.icons img{
    margin: 1em;
}

.nav a:hover {
    border-bottom: 3px solid #121113;
}
  
.nav a.active {
    border-bottom: 3px solid #121113;
}

/* VISIT AND MEMBER SECTION */

.two-columns{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.two-column-child{
    flex: 1;
    margin: 5px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
}

.text-wrapper *{
    margin: 0 50px;
}

.text-wrapper > h2{
    @include heading-dark();
}

.text-wrapper > p{
    @include body-text-dark();
}

.flex-button{
    display: flex;
    justify-content:right;
}

.image-wrapper{
    max-height: 500px;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reverse{
    flex-direction: row-reverse;
}



@media screen and (max-width: 1120px) {
    /* MOBILE AND TABLET MENU */
    header{
        display: none;
    }

    .responsive-nav{
        background-color: #F1F5F2;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        padding: 1em;
    }

    nav{
        display: initial;
        color: #121113;
        font-family: 'Calistoga', cursive;
        font-size: 18px;
        background-color: #F1F5F2;
        
    }

    #menuToggle{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;        
        z-index: 1;        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a{
        text-decoration: none;
        color: #121113;        
        transition: color 0.3s ease;
    }

    #menuToggle a:hover{
        border-bottom: 3px solid #121113;
    }

    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;    
        cursor: pointer;    
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */    
        -webkit-touch-callout: none;
    }

    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;    
        background: #121113;
        border-radius: 3px;    
        z-index: 1;    
        transform-origin: 4px 0px;    
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #121113;
    }

    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;    
    background: #F1F5F2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);    
    }

    #menu li{
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul    {
        transform: none;
    }

}
@media (max-width:765px){
    .two-columns{
        flex-direction: column;
    }
    .img-wrapper{
        overflow: hidden;
    }

}

