/* Website fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Calistoga&display=swap');

/* BACKGROUND */
body{
    background-color: #14281D;
}

.light-background{
    background-color: #F1F5F2;
}

/* BUTTON */
.button{
    background-color: #C59407;
    color: #F1F5F2;
    border: 2px solid #9F7703;
    border-radius: 15px;
    font-family: 'Biryani', sans-serif;
    font-size: 1.3em;
    transition-duration: 0.4s;
    text-align: center;
    vertical-align: middle;
}

.button:hover {
    background-color: #9F7703;
}

/* VISIT AND MEMBER SECTION */

.two-columns{
    display: flex;
    flex-wrap: wrap;
}

.text-wrapper{
    flex: 1;
    margin: auto;
    padding: 2em;
}

.text-wrapper > h2{
    font-family: 'Calistoga', cursive;
    font-size: 2.3em;
    color: #14281D;
}

.text-wrapper > p{
    font-family: 'Biryani', sans-serif;
    font-size: 1.3em;
    color: #121113;
    text-align: left;
}

.flex-button{
    display: flex;
    justify-content: flex-end;
}

.image-wrapper{
    flex: 1;
    margin: auto;
    padding: 2em;
}

.image-wrapper img{
    max-width: 100%;
}

.reverse{
    flex-direction: row-reverse;
}